/* Styles for the header */
header {
    background-color: rgb(34, 177, 229);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Styles for the navigation menu */
  nav {
    background-color: rgb(209, 117, 117);
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #666;
  }
  
  /* Styles for the main content */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #eee;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Styles for the footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  